

body{


    overflow: hidden;
    margin:0;
    font-family: 'Ubuntu', sans-serif;
}

div{
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* onSite Load Content */



/* main div */
.main{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #1f8fc1;
    background-size: cover;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    transition: all 1s;
}


/* transition div */
.expandable{
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    z-index: 5;
    border-radius: 50%;
    background-color: #1f8fc1;
    position: fixed;
    transition: all 3s;
}

.expandable.active{
    transform: scale(100);
    background-color: #FFFFFF;

}




/* form div */
#form_div{
    padding: 60px;
    background-color: white;
}

/* title text for form*/
#header_info{
    padding: 30px;
    font-size: 40px;
    color: #2e3d49;
}


/* input field for form */
.ip_form{
    padding:15px;
    width: 100%;
}

.ip{

    padding:20px;
}

#street, #city{
    width: 100%;
    height: 44px;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
}



/* button for form */
.bt_form{
    padding:5px;
}

#submit-btn{
    background-color: #02b3e4;
    size: 50px;
    min-width: 207px;
    height: 44px;
}





/* after submit content */

/* align contents*/
.load{
    display: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    transition: all .5s ease-in;
    opacity: .1;
}
/* fade in effect g*/
.load.active{
    opacity:1;
}


.parallax{
    background-color: #1f8fc1 ;
}

/* header */
.header_div{
    background-color: #1f8fc1 ;
    padding: 30px;
    font-size: 38px;
    color: #FFFFFF;
    font-weight: bold;
    -webkit-box-shadow: -1px 9px 6px 0px rgba(48, 50, 50, 0.61);
    -moz-box-shadow:    -1px 9px 6px 0px rgba(48, 50, 50, 0.61);
    box-shadow:         -1px 9px 6px 0px rgba(48, 50, 50, 0.61);
}

/* sections */
.section{
    width: 100%;

    height: 500px;
    padding:20px;
    -webkit-box-shadow: 0px -7px 16px 0px rgba(48, 50, 50, 0.61);
    -moz-box-shadow:    0px -7px 16px 0px rgba(48, 50, 50, 0.61);
    box-shadow:         0px -7px 16px 0px rgba(48, 50, 50, 0.61);

}

/* wikipedia article links div*/

.wiki_links{
    width: 100%;
    height: 100%;
    overflow: scroll;

}

.collection-header{

    font-size: 34px !important;
}



/* link items*/
.collection a.collection-item {
    display: block !important;
    transition: .25s !important;
    color: #1f8fc1 !important;
    font-size: 25px;
}
.collection a.collection-item:not(.active):hover {
    background-color: #1f8fc1 !important;
    color: #FFFFFF !important;
}

/* maps header */
.maps_header{
    font-size: 34px;
    padding-bottom: 10px;
}